@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(file:////home/vivek/projects/notification/classnotifier/notifier/static/fonts/XRXV3I6Li01BKofINeaBTMnFcQ.woff2/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
}
